html {
  background: url("../images/background-image.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.hidden {
  visibility: "hidden";
}
